[Unit]
Description=automount {{ item.mount }}
After=network.target multi-user.target

[Automount]
Where={{ item.mount }}
TimeoutIdleSec={{ item.idle_timeout | default('0') }}

[Install]
WantedBy=default.target
